<div class="row">
  <div class="col-sm-8 ml-auto mr-auto text-center">
    <h1> <%= @team.name %> </h1>
    <h5> User: <%= @team.user.name %> </h5>
    <% if @team.user == current_user %>
      <%= link_to "Edit Team", edit_team_path(@team), class: "btn btn-primary text-center" %>
    <% end %>
  </div>
</div>

<h4> Rosters: </h4>

<div class="row">
  <div class="col-sm-8 ml-auto mr-auto">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Score</th>
      </tr>
      </thead>
      <tbody>
      <% @rosters.each do |roster| %>
        <tr>
          <td> <%= link_to "Week #{roster.week.number}", roster_path(roster) %> </td>
          <td> <%= roster.score %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>