<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Join League</h1>
      <%= form_for @league, url: :add_user_to_league, method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :id, "League ID:" %>
          <%= f.number_field :id, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :name, "Code:" %>
          <%= f.text_field :group_password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Join", class: "btn btn-primary btn-block btn-lg" %>
        </div>
      <% end %>
  </div>
</div>