<div class="row">
  <div class="col-sm-8 ml-auto mr-auto">
    <h1 class="text-center"> <%= @league.name %> </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 ml-auto mr-auto">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Manager</th>
        <th scope="col">Team Name</th>
        <th scope="col">Season Score</th>
      </tr>
      </thead>
      <tbody>
        <% @league.teams.each_with_index do |team, index| %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= link_to(team.user.name, user_path(team.user))%></td>
            <td><%= link_to(team.name, team_path(team) ) %></td>
            <td><%=  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>