<div class="row">
  <div class="col-sm-10 ml-auto mr-auto">
    <h1 class="text-center"> Set Week <%= @roster.week.number %> Roster </h1>
  </div>

  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <%= form_for(@roster) do |f| %>
      <% @roster.roster_spots.each do |position, val| %>
        <% for i in (0..val.size-1) %>
          <div class="form-group">
            <label> <%= position %> </label>
            <%= collection_select "roster[roster_spots][#{position}]", "",
                                  Player.where(position: position).order(:name), :id, :name,
                                  {
                                      include_blank: true,
                                      selected: "#{@roster[:roster_spots][position][i]}",
                                      disabled: @roster.team.used_players(@roster.id)
                                  },
                                  { class: 'form-control select2' } %>
          </div>
        <% end %>
      <% end %>

      <%= f.submit "Save", class: 'btn btn-primary btn-block btn-lg'%>

    <% end %>
  </div>
</div>
