<div class="row">
  <div class="col-sm-8 ml-auto mr-auto">
    <h1 class="text-center"> <%= "#{@roster.team.user.name} - Week #{@roster.week.number}" %> </h1>
    <div class="text-center"> <%= link_to "Edit", edit_roster_path(@roster) if @roster.team.user == current_user %> </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 ml-auto mr-auto">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Pos</th>
        <th scope="col">Player</th>
        <th scope="col">Points</th>
      </tr>
      </thead>
      <tbody>
      <% @roster.players.each do |players| %>
        <tr>
          <td> <%= players[:roster_position] %> </td>
          <td> <%= players[:player]&.name %> </td>
          <td> <%= players[:score] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>